
.table-data-container .searchBox input{
    display:table;
    margin: 0 auto;
    border-radius: 10px;
    width: 300px;
    height:30px;
  }

  .searchBox{
      margin-top: 20px;
  }
.nextBtn,
.prevBtn{
    position: relative;
}
  .nextBtn::after,
  .nextBtn::before,
  .prevBtn::after,
  .prevBtn::before{
    --scale:0;
    position:absolute;
    content:attr(data-tooltip);
    top: -.25rem;
    left: 50%;
    transform:translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 50ms transform;
  }

  .nextBtn::before,
  .prevBtn::before{
    content:attr(data-tooltip);
    padding: .5rem;
    width:max-content;
    max-width:100%;
    background:white;
    border-radius: .3rem;
    text-align:center;
  }

  .nextBtn:hover::before,
  .prevBtn:hover::before{
      --scale: 1;
  }
  
  @media only screen and (max-width: 411px){
      .prevBtn{
          margin-top: 20px;
          position:relative;
      }
  }
  
  
