
.modal-dialog {
    display: inline-flex;
    background-color: antiquewhite;
    border: 2px solid gray;
    border-radius: 5px;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
}

.m-Header{
    background-color: aqua;
    display: flex;
    text-align: center;
    padding:0px;
}

.closeBtn{
    position: absolute;
    top: 1px;
    right: 1px;
}

.m-Body{
    padding:5px;
}

  
