
.modal-dialog {
    display: inline-flex;
    background-color: antiquewhite;
    border: 2px solid gray;
    border-radius: 5px;
    height:fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;  
}

.modal-content{
    align-content: center;
}

.m-Header{
    background-color: aqua;
    display: block;
    text-align: center;
    padding:0px;
    width:fit-content
}

.closeBtn{
    position: absolute;
    top: 1px;
    right: 1px;
}

.m-Body{
    padding:5px;
}

  
